<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "point" vote_count}} | Made on {{format_date created_at}}
    |
    <span>{{comments.length}} {{format_plural "comment" comments.length}}</span>
    |
    <a href="{{post_url}}" target="_blank">Twitter.com</a>
  </div>
</article>